
@import "./assets/scss/iconfont.scss";
//css变量
@import "./assets/scss/variable.scss";
@import "./assets//scss/index.scss";

// 标签选择器没有样式隔离，可以代替 * 选择器
// 采用边框盒模型
page,
view,
scroll-view {
  box-sizing: border-box;
}

// tab-bar页面都为 tab-bar 留出 86px
.tab-bar-page {
  width: auto;
  height: calc(100vh - 86px);
  margin: 10px;
}

.iconfont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 60rpx;
}
