var areaList = require('../../data/area.wxs')

/**
 * 补0
 * @param {string} number 
 * @returns {string}
 */
function formatToTwoDigits(number) {
  if (number >= 0 && number <= 9) {
    number = '0' + number
  }
  return number
}
module.exports = {
  /**
   * 将多个作者名进行拼接
   * @param list 
   * @param nameKey 
   */
  getAuthorName: function (list, nameKey) {
    if (!list) return ''
    var strlist = []
    nameKey = nameKey || 'name'
    for (i = 0; i < list.length; i++) {
      strlist.push(list[i][nameKey])
    }
    return strlist.join('/')
  },

  /**
   * 获取相对今天的时间
   * @param timespan 上一次的时间
   */
  fromNow: function (timespan) {
    var dateTime = getDate(timespan) // 将传进来的字符串或者毫秒转为标准时间
    var year = dateTime.getFullYear()
    var month = dateTime.getMonth() + 1
    var day = dateTime.getDate()
    var hour = dateTime.getHours()
    var minute = dateTime.getMinutes()
    month = formatToTwoDigits(month)
    day = formatToTwoDigits(day)
    hour = formatToTwoDigits(hour)
    minute = formatToTwoDigits(minute)
    // var second = dateTime.getSeconds()
    var millisecond = dateTime.getTime() // 将当前编辑的时间转换为毫秒
    var now = getDate() // 获取本机当前的时间
    var nowNew = now.getTime() // 将本机的时间转换为毫秒
    var timeSpanStr = ''
    var milliseconds = nowNew - millisecond
    if (milliseconds <= 1000 * 60 * 1) { // 小于一分钟展示为刚刚
      timeSpanStr = '刚刚'
    } else if (1000 * 60 * 1 < milliseconds && milliseconds <= 1000 * 60 * 60) { // 大于一分钟小于一小时展示为分钟
      timeSpanStr = Math.round((milliseconds / (1000 * 60))) + '分钟前'
    } else if (1000 * 60 * 60 * 1 < milliseconds && milliseconds <= 1000 * 60 * 60 * 24) { // 大于一小时小于一天展示为小时
      timeSpanStr = Math.round(milliseconds / (1000 * 60 * 60)) + '小时前'
    } else if (1000 * 60 * 60 * 24 < milliseconds && milliseconds <= 1000 * 60 * 60 * 24 * 15) { // 大于一天小于十五天展示位天
      timeSpanStr = Math.round(milliseconds / (1000 * 60 * 60 * 24)) + '天前'
    } else if (milliseconds > 1000 * 60 * 60 * 24 * 15 && year === now.getFullYear()) {
      timeSpanStr = month + '-' + day + ' ' + hour + ':' + minute
    } else {
      timeSpanStr = year + '-' + month + '-' + day + ' ' + hour + ':' + minute
    }
    return timeSpanStr
  },


  /**
   * 格式化时间
   * 例如: 37*1000秒 -> 00:37
   * @param timespan 
   */
  formatTime: function (timespan) {
    var dateTime = getDate(timespan) // 将传进来的字符串或者毫秒转为标准时间
    var hour = dateTime.getHours()
    var minute = dateTime.getMinutes()
    var second = dateTime.getSeconds()
    second = formatToTwoDigits(second)
    minute = formatToTwoDigits(minute)

    return minute + ':' + second
  },

  /**
   * 
   * @param number 
   */
  formatTimeYMD: function (timespan) {
    if (isNaN(timespan)) {
      return
    }
    var dateTime = getDate(timespan) // 将传进来的字符串或者毫秒转为标准时间
    var year = dateTime.getFullYear()
    var month = dateTime.getMonth() + 1
    var day = dateTime.getDate()
    month = formatToTwoDigits(month)
    day = formatToTwoDigits(day)
    return '' + year + '-' + month + '-' + day
  },
  /**
   * 根据id获取省份和城市
   */
  getProvinceCity: function (pid, cid) {
    var pro = null
    for (i = 0; i < areaList.length; i++) {
      if (areaList[i].id == pid) {
        pro = areaList[i]
        break
      }
    }
    if (pro) {
      var pName = pro.name
      var cName = pro.cities[cid]
      // console.log(pro.cities[cid])//不支持
      return pName
    }
    return ''
  },
  // 获取播放量
  getPlaybackVolume: function (nums) {
    if (!nums) return ''
    if (nums < 10000) {
      return nums
    } else if (nums >= 10000 && nums < 100000000) {
      return Math.round(nums / 10000) + '万'
    } else if (nums >= 100000000) {
      return Math.round(nums / 100000000) + '亿'
    }
  }
}