.home-contianer {
  // 轮播图
  .swiper-container {
    .swiper {

      .swiper-item {
        position: relative;
        
        image {
          height: 290rpx;
          width: 100%;
          border-radius: var(--b-r-size);
        }

        .type-tag {
          position: absolute;
          font-size: var(--font-size-smaller-x);
          right: 0;
          bottom: 0;
          background-color: var(--white);
          border-radius: var(--b-r-size);
          padding: 0 var(--padding-small);
          margin: var(--margin);
          letter-spacing: var(--let-spa);
        }
      }
    }
  }

  // 快捷菜单
  .shortcut-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    margin-top: 10px;
    background: #ffffff;
    border-radius: 70px;
    box-shadow: 5px 5px 5px #d1d1d133;

    .item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .iconfont {
        font-size: var(--font-size-larger);
      }
      .item-icon {
        width: 80rpx;
        height: 80rpx;
        border-radius: 50%;
        background: linear-gradient(145deg, #e9e9e9, #ffffff);
        // box-shadow: 20px 20px 60px #c8c8c8, -20px -20px 60px #ffffff;
      }
      text {
        font-size: small;
        color: gray;
      }
    }
  }
  // 推荐歌单
  .recommended-songs {
    white-space: nowrap;
    .recommended-songs-item {
      display: inline-block;
      width: 230rpx;
      padding-right: var(--padding);
      // background: lightcyan;

      .cover {
        height: 200rpx;
        image {
          width: 100%;
          height: 100%;
          border-radius: var(--b-r-size);
        }
      }
      text {
        padding: var(--padding-small) 0;
        font-size: small;
      }
    }
  }
  // 排行榜
  .rankling-list {
    height: 900rpx;
    // background: hotpink;
  }
}
