@font-face {
  font-family: "iconfont"; /* Project id 4099903 */
  src: url('//at.alicdn.com/t/c/font_4099903_5tmzfa8jwlf.woff2?t=1690775907315') format('woff2'),
       url('//at.alicdn.com/t/c/font_4099903_5tmzfa8jwlf.woff?t=1690775907315') format('woff'),
       url('//at.alicdn.com/t/c/font_4099903_5tmzfa8jwlf.ttf?t=1690775907315') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-diantaizhibo:before {
  content: "\e65b";
}

.icon-paixu-shengxu:before {
  content: "\e685";
}

.icon-caozuo-paixu-jiangxu:before {
  content: "\e712";
}

.icon-quanping_o:before {
  content: "\eb99";
}

.icon-fenlei:before {
  content: "\e62f";
}

.icon-24gf-playCircle:before {
  content: "\ea82";
}

.icon-bg-suspend:before {
  content: "\e64b";
}

.icon-fenxiang:before {
  content: "\e739";
}

.icon-pinglun:before {
  content: "\e607";
}

.icon-xialajiantouxiao:before {
  content: "\e87e";
}

.icon-shangyishou:before {
  content: "\e63c";
}

.icon-xiayishou:before {
  content: "\e63e";
}

.icon-xihuan:before {
  content: "\e61b";
}

.icon-vip:before {
  content: "\e614";
}

.icon-cancel-1-copy:before {
  content: "\e61a";
}

.icon-suijibofang:before {
  content: "\e66b";
}

.icon-danquxunhuan:before {
  content: "\e66d";
}

.icon-shanchu:before {
  content: "\e8b6";
}

.icon-shunxubofang:before {
  content: "\e871";
}

.icon-bofangqi-bofang:before {
  content: "\e6a4";
}

.icon-bofangqi-zanting:before {
  content: "\e6a5";
}

.icon-24gf-playlistMusic:before {
  content: "\ea86";
}

.icon-bianji:before {
  content: "\e601";
}

.icon-shoucang:before {
  content: "\e906";
}

.icon-Add:before {
  content: "\e663";
}

.icon-add:before {
  content: "\e623";
}

.icon-menu:before {
  content: "\e801";
}

.icon-MV:before {
  content: "\e62c";
}

.icon-yinle:before {
  content: "\e600";
}

.icon-shipin:before {
  content: "\e631";
}

.icon-shipin1:before {
  content: "\e619";
}

.icon-duoxuan:before {
  content: "\e61f";
}

.icon-tuichudenglu:before {
  content: "\e610";
}

.icon-youjiantou:before {
  content: "\e64c";
}

.icon-androidgengduo:before {
  content: "\e78d";
}

.icon-paixingbang:before {
  content: "\e7bd";
}

.icon-zhibo:before {
  content: "\e8c1";
}

.icon-diantai:before {
  content: "\e636";
}

.icon-gedan:before {
  content: "\e637";
}

.icon-tuijian:before {
  content: "\e628";
}
