@font-face {
  font-family: "iconfont"; /* Project id 4099903 */
  src: url('//at.alicdn.com/t/c/font_4099903_4gwyfj9untx.woff2?t=1686214514551') format('woff2'),
       url('//at.alicdn.com/t/c/font_4099903_4gwyfj9untx.woff?t=1686214514551') format('woff'),
       url('//at.alicdn.com/t/c/font_4099903_4gwyfj9untx.ttf?t=1686214514551') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianji:before {
  content: "\e601";
}

.icon-shoucang:before {
  content: "\e906";
}

.icon-Add:before {
  content: "\e663";
}

.icon-add:before {
  content: "\e623";
}

.icon-menu:before {
  content: "\e801";
}

.icon-MV:before {
  content: "\e62c";
}

.icon-yinle:before {
  content: "\e600";
}

.icon-shipin:before {
  content: "\e631";
}

.icon-shipin1:before {
  content: "\e619";
}

.icon-duoxuan:before {
  content: "\e61f";
}

.icon-tuichudenglu:before {
  content: "\e610";
}

.icon-youjiantou:before {
  content: "\e64c";
}

.icon-androidgengduo:before {
  content: "\e78d";
}

.icon-paixingbang:before {
  content: "\e7bd";
}

.icon-zhibo:before {
  content: "\e8c1";
}

.icon-diantai:before {
  content: "\e636";
}

.icon-gedan:before {
  content: "\e637";
}

.icon-tuijian:before {
  content: "\e628";
}
