// 卡片效果
.my-card {
  padding: 10px;
  margin-top: 10px;
  background: white;
  border-radius: var(--b-r-size);
  box-shadow: 0 0 var(--shadowLen) var(--shadowColor);
}
// 卡片效果-更淡
.my-card-fade {
  padding: 10px;
  margin-top: 10px;
  background: white;
  border-radius: var(--b-r-size);
  box-shadow: 0 0 var(--shadowLen-mini) var(--shadowColor-fade);
}

// 页面底色
page {
  background: var(--page-bg-color);
}

// 单行文本溢出
// 注意还需要给元素或者父元素设置宽度
.single-line-overflow {
  display:block !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

// 两行文本溢出
// 注意还需要给元素或者父元素设置宽度
.double-line-overflow {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
