// 卡片效果
.my-card {
  padding: var(--padding);
  margin-top: var(--margin);
  background: var(--white);
  border-radius: var(--b-r-size);
  box-shadow: 0 0 var(--shadowLen) var(--shadowColor);
}
// 卡片效果-更淡
.my-card-fade {
  padding: var(--padding);
  margin-top: var(--margin);
  background: var(--white);
  border-radius: var(--b-r-size);
  box-shadow: 0 0 var(--shadowLen-mini) var(--shadowColor-fade);
}

// 页面底色
page {
  background: var(--page-bg-color);
}

// 单行文本溢出
// 注意还需要给元素或者父元素设置宽度
.single-line-overflow {
  display: block !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

// 两行文本溢出
// 注意还需要给元素或者父元素设置宽度
.double-line-overflow {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

//旋转动画
  @keyframes rotate {
    0% {
      rotate: 0rad;
    }
    100% {
      rotate: 360rad;
    }
  }
.rotate-animation {
  transform-origin: center;
  animation: rotate 5s linear infinite both;
}

.rotate-animation-delay {
  transform-origin: center;
  animation: rotate 5s linear 0.5s infinite both;
}

// 缩放动画
@keyframes zoom{
  0%{
    transform: scale(1) rotate(10deg);
  }
  50%{
     transform: scale(0.5) rotate(0deg);
  }
  100%{
     transform: scale(1) rotate(10deg);
  }
}

.zoom-animation{
  animation: zoom 2s linear infinite;
}