.home-item-card-container {
  // height: 300rpx;
  margin-top: 10px;
  // background: chartreuse;
  border-bottom: 1px solid ghostwhite;

  // 头部
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80rpx;
    // background: chocolate;

    .left {
      display: flex;
      justify-content: left;
      align-items: center;
      // background: lemonchiffon;
      font-size: medium;
      font-weight: bold;

      // 大标题样式
      .title-style-large {
        display: flex;
        align-items: center;
        .icon {
          width: 20px;
          font-size: 32rpx;
        }
      }

      // 小标题样式
      .title-style-small {
        font-size: var(--font-size-smaller);
        color: var(--grey-deep);
      }
    }

    .right {
      .icon {
        width: 40px;
        // background: lightcyan;
        font-size: 40rpx;
      }
    }
  }

  // 身体
  .body {
    // background: gold;
  }

  // 点击更多按钮的弹出层
  .popup {
    padding: 0 var(--padding-larger) var(--padding-larger);
    .header {
      .title {
        font-size: var(--font-size-smaller);
        color: var(--grey-deep);
      }

      .right-icon {
      }
    }

    .body {
    }
  }
}
