// 引入模板样式
@import "../../template/rank-list-item/rank-list-item.scss";

.rank-list-card-container {
  min-height: 500rpx;
  margin: 5px;
  .header {
    display: flex;
    justify-content: space-between;
    // background: greenyellow;
    .title {
      display: flex;
      justify-content: left;
      .text {
        font-size: medium;
        font-weight: bold;
      }
      .icon {
        width: 16px;
        font-size: 16px;
        font-weight: bold;
      }
    }
    .describe {
      font-size: small;
      color: rgb(139, 139, 139);
    }
  }

  .body {
    height: 800rpx;
    margin-top: 10px ;
    padding-bottom: 10px;
    // background: gold;
  }
}
