.commend-video-container {
  padding: var(--page-padding);
  .commend-video-item-card {
    padding: var(--padding);
    border-radius: var(--b-r-size);
    box-shadow: 0 0 var(--shadowLen-mini) var(--shadowColor-fade);
    // 头部
    .header {
      display: flex;
      justify-content: space-between;

      .right {
        display: flex;
        align-items: center;

        .author-name {
          margin-left: var(--margin);
          font-weight: bold;
          letter-spacing: var(--let-spa);
        }
      }
    }

    // 中部
    .body {
      margin: var(--margin) 0;
      // 视频封面
      .cover {
        position: relative;
        .duration {
          position: absolute;
          bottom: 10px;
          left: 10px;
          color: var(--white);
        }
        .img {
          width: 100%;
          height: 400rpx;
        }
      }
    }

    // 下部
    .footer {
      .title {
        font-weight: bold;
        letter-spacing: var(--let-spa-small);
      }
    }
  }
}
